In [15]:
%matplotlib inline
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np
from IPython.core.display import HTML

In [17]:
dfj = pd.DataFrame(np.random.randn(5, 2), columns=list('AB'))

In [18]:
json = dfj.to_json()

In [19]:
json

'{"A":{"0":-1.9307032582,"1":-1.171873551,"2":-0.5137989828,"3":-0.7674935892,"4":-0.9936207599},"B":{"0":-1.5921365439,"1":1.1016565699,"2":0.2282721658,"3":-0.418851991,"4":-0.2658248624}}'

In [20]:
dfjo = pd.DataFrame(dict(A=range(1, 4), B=range(4, 7), C=range(7, 10)),
                    columns=list('ABC'), index=list('xyz'))

In [21]:
dfjo

   A  B  C
x  1  4  7
y  2  5  8
z  3  6  9

In [22]:
sjo = pd.Series(dict(x=15, y=16, z=17), name='D')

In [23]:
sjo

x    15
y    16
z    17
Name: D, dtype: int64

In [25]:
dfjo.to_json(orient="columns")

'{"A":{"x":1,"y":2,"z":3},"B":{"x":4,"y":5,"z":6},"C":{"x":7,"y":8,"z":9}}'

In [26]:
dfjo.to_json(orient="index")

'{"x":{"A":1,"B":4,"C":7},"y":{"A":2,"B":5,"C":8},"z":{"A":3,"B":6,"C":9}}'

In [27]:
sjo.to_json(orient="index")

'{"x":15,"y":16,"z":17}'

In [28]:
dfjo.to_json(orient="records")

'[{"A":1,"B":4,"C":7},{"A":2,"B":5,"C":8},{"A":3,"B":6,"C":9}]'

In [29]:
sjo.to_json(orient="records")

'[15,16,17]'

In [30]:
dfjo.to_json(orient="values")

'[[1,4,7],[2,5,8],[3,6,9]]'

In [31]:
dfjo.to_json(orient="split")

'{"columns":["A","B","C"],"index":["x","y","z"],"data":[[1,4,7],[2,5,8],[3,6,9]]}'

In [32]:
sjo.to_json(orient="split")

'{"name":"D","index":["x","y","z"],"data":[15,16,17]}'

In [33]:
dfd = pd.DataFrame(np.random.randn(5, 2), columns=list('AB'))

In [34]:
dfd['date'] = pd.Timestamp('20130101')

In [35]:
dfd = dfd.sort_index(1, ascending=False)

In [36]:
json = dfd.to_json(date_format='iso')

In [37]:
json

'{"date":{"0":"2013-01-01T00:00:00.000Z","1":"2013-01-01T00:00:00.000Z","2":"2013-01-01T00:00:00.000Z","3":"2013-01-01T00:00:00.000Z","4":"2013-01-01T00:00:00.000Z"},"B":{"0":0.1646373675,"1":0.0850088603,"2":-1.5567586443,"3":0.3932291327,"4":-1.0711982608},"A":{"0":0.0837645101,"1":1.0329597105,"2":0.3495769791,"3":0.7455374723,"4":-0.7461241782}}'

In [38]:
json = dfd.to_json(date_format='iso', date_unit='us')

In [39]:
json

'{"date":{"0":"2013-01-01T00:00:00.000000Z","1":"2013-01-01T00:00:00.000000Z","2":"2013-01-01T00:00:00.000000Z","3":"2013-01-01T00:00:00.000000Z","4":"2013-01-01T00:00:00.000000Z"},"B":{"0":0.1646373675,"1":0.0850088603,"2":-1.5567586443,"3":0.3932291327,"4":-1.0711982608},"A":{"0":0.0837645101,"1":1.0329597105,"2":0.3495769791,"3":0.7455374723,"4":-0.7461241782}}'

In [40]:
json = dfd.to_json(date_format='epoch', date_unit='s')

In [41]:
json

'{"date":{"0":1356998400,"1":1356998400,"2":1356998400,"3":1356998400,"4":1356998400},"B":{"0":0.1646373675,"1":0.0850088603,"2":-1.5567586443,"3":0.3932291327,"4":-1.0711982608},"A":{"0":0.0837645101,"1":1.0329597105,"2":0.3495769791,"3":0.7455374723,"4":-0.7461241782}}'

In [42]:
dfj2 = dfj.copy()

In [43]:
dfj2['date'] = pd.Timestamp('20130101')

In [44]:
dfj2['ints'] = list(range(5))

In [47]:
dfj2['bools'] = True

In [48]:
dfj2.index = pd.date_range('20130101', periods=5)

In [49]:
dfj2.to_json('test.json')

In [50]:
open('test.json').read()

'{"A":{"1356998400000":-1.9307032582,"1357084800000":-1.171873551,"1357171200000":-0.5137989828,"1357257600000":-0.7674935892,"1357344000000":-0.9936207599},"B":{"1356998400000":-1.5921365439,"1357084800000":1.1016565699,"1357171200000":0.2282721658,"1357257600000":-0.418851991,"1357344000000":-0.2658248624},"date":{"1356998400000":1356998400000,"1357084800000":1356998400000,"1357171200000":1356998400000,"1357257600000":1356998400000,"1357344000000":1356998400000},"ints":{"1356998400000":0,"1357084800000":1,"1357171200000":2,"1357257600000":3,"1357344000000":4},"bools":{"1356998400000":true,"1357084800000":true,"1357171200000":true,"1357257600000":true,"1357344000000":true}}'

In [51]:
pd.DataFrame([1.0, 2.0, complex(1.0, 2.0)]).to_json(default_handler=str)

'{"0":{"0":"(1+0j)","1":"(2+0j)","2":"(1+2j)"}}'

In [52]:
pd.read_json(json)

          A         B       date
0  0.083765  0.164637 2013-01-01
1  1.032960  0.085009 2013-01-01
2  0.349577 -1.556759 2013-01-01
3  0.745537  0.393229 2013-01-01
4 -0.746124 -1.071198 2013-01-01

In [53]:
pd.read_json('test.json')

                   A         B bools       date  ints
2013-01-01 -1.930703 -1.592137  True 2013-01-01     0
2013-01-02 -1.171874  1.101657  True 2013-01-01     1
2013-01-03 -0.513799  0.228272  True 2013-01-01     2
2013-01-04 -0.767494 -0.418852  True 2013-01-01     3
2013-01-05 -0.993621 -0.265825  True 2013-01-01     4

In [54]:
pd.read_json('test.json', dtype=object).dtypes

A        object
B        object
bools    object
date     object
ints     object
dtype: object

In [55]:
pd.read_json('test.json', dtype={'A' : 'float32', 'bools' : 'int8'}).dtypes

A               float32
B               float64
bools              int8
date     datetime64[ns]
ints              int64
dtype: object

In [56]:
si = pd.DataFrame(np.zeros((4, 4)),
                  columns=list(range(4)),
                  index=[str(i) for i in range(4)])

In [57]:
si

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0

In [58]:
si.index

Index(['0', '1', '2', '3'], dtype='object')

In [59]:
si.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [60]:
json = si.to_json()

In [61]:
sij = pd.read_json(json, convert_axes=False)

In [62]:
sij

   0  1  2  3
0  0  0  0  0
1  0  0  0  0
2  0  0  0  0
3  0  0  0  0

In [63]:
sij.index

Index(['0', '1', '2', '3'], dtype='object')

In [64]:
sij.columns

Index(['0', '1', '2', '3'], dtype='object')

In [65]:
json = dfj2.to_json(date_unit='ns')

In [66]:
# Try to parse timestamps as milliseconds -> Won't Work
dfju = pd.read_json(json, date_unit='ms')

In [67]:
dfju

                            A         B bools                 date  ints
1356998400000000000 -1.930703 -1.592137  True  1356998400000000000     0
1357084800000000000 -1.171874  1.101657  True  1356998400000000000     1
1357171200000000000 -0.513799  0.228272  True  1356998400000000000     2
1357257600000000000 -0.767494 -0.418852  True  1356998400000000000     3
1357344000000000000 -0.993621 -0.265825  True  1356998400000000000     4

In [68]:
# Let pandas detect the correct precision
dfju = pd.read_json(json)

In [69]:
dfju

                   A         B bools       date  ints
2013-01-01 -1.930703 -1.592137  True 2013-01-01     0
2013-01-02 -1.171874  1.101657  True 2013-01-01     1
2013-01-03 -0.513799  0.228272  True 2013-01-01     2
2013-01-04 -0.767494 -0.418852  True 2013-01-01     3
2013-01-05 -0.993621 -0.265825  True 2013-01-01     4

In [70]:
# Or specify that all timestamps are in nanoseconds
dfju = pd.read_json(json, date_unit='ns')

In [71]:
dfju

                   A         B bools       date  ints
2013-01-01 -1.930703 -1.592137  True 2013-01-01     0
2013-01-02 -1.171874  1.101657  True 2013-01-01     1
2013-01-03 -0.513799  0.228272  True 2013-01-01     2
2013-01-04 -0.767494 -0.418852  True 2013-01-01     3
2013-01-05 -0.993621 -0.265825  True 2013-01-01     4

In [72]:
randfloats = np.random.uniform(-100, 1000, 10000)

In [73]:
randfloats.shape = (1000, 10)

In [74]:
dffloats = pd.DataFrame(randfloats, columns=list('ABCDEFGHIJ'))

In [75]:
jsonfloats = dffloats.to_json()

In [76]:
timeit pd.read_json(jsonfloats)

10 loops, best of 3: 16.7 ms per loop

In [77]:
timeit pd.read_json(jsonfloats, numpy=True)

100 loops, best of 3: 10 ms per loop

In [80]:
jsonfloats = dffloats.head(100).to_json()

In [81]:
timeit pd.read_json(jsonfloats)

100 loops, best of 3: 10.3 ms per loop

In [82]:
timeit pd.read_json(jsonfloats, numpy=True)

100 loops, best of 3: 6.34 ms per loop

In [83]:
data = [{'state': 'Florida', 'shortname': 'FL',
         'info': {
            'governor': 'Rick Scott'
        },
        'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
        'shortname': 'OH',
        'info': {
             'governor': 'John Kasich'
        },
        'counties': [{'name': 'Summit', 'population': 1234},
                     {'name': 'Cuyahoga', 'population': 1337}]}]

In [84]:
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population shortname info.governor    state
0        Dade       12345        FL    Rick Scott  Florida
1     Broward       40000        FL    Rick Scott  Florida
2  Palm Beach       60000        FL    Rick Scott  Florida
3      Summit        1234        OH   John Kasich     Ohio
4    Cuyahoga        1337        OH   John Kasich     Ohio

In [85]:
json1 = '''
    {"a":1, "b":2}
    {"a":3, "b":4}
'''
json1

'\n    {"a":1, "b":2}\n    {"a":3, "b":4}\n'

In [86]:
df = pd.read_json(json1, lines=True)

In [87]:
df

   a  b
0  1  2
1  3  4

In [88]:
df.to_json(orient='records', lines=True)

'{"a":1,"b":2}\n{"a":3,"b":4}'