In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('C:/Users/Michael Roy/Documents\Springboard/pycon-pandas-tutorial-master/style-table.css').read() + open('C:/Users/Michael Roy/Documents\Springboard/pycon-pandas-tutorial-master/style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('C:/Users/Michael Roy/Documents\Springboard/pycon-pandas-tutorial-master/data/titles.csv', index_col=None)
titles.head()

                         title  year
0              Al-suq al-Soda'  1945
1         The Invisible Player  2015
2  The Axe Murders of Villisca  2016
3              The Crow Scarer  2014
4     Ves mir v glazakh tvoikh  1979

In [4]:
cast = pd.DataFrame.from_csv('C:/Users/Michael Roy/Documents/Springboard/pycon-pandas-tutorial-master/data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [5]:
# How many movies are listed in the titles dataframe?
len(titles)

231721

In [6]:
# What are the earliest two films listed in the titles dataframe?
t = titles
t.sort('year').head(2)

C:\Users\Michael Roy\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

                     title  year
186756          Miss Jerry  1894
145698  The Startled Lover  1898

In [7]:
# How many movies have the title "Hamlet"?
t = titles
len(t[t.title == "Hamlet"])

18

In [8]:
# How many movies are titles "North by Northwest"?
t = titles
len(t[t.title == "North by Northwest"])

1

In [9]:
# When was the first movie titled "Hamlet" made?
t = titles
t[t.title == "Hamlet"].sort('year').head(1)

C:\Users\Michael Roy\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

        title  year
43948  Hamlet  1910

In [10]:
# List all of the "Treasure Island" movies from earliest to most recent
t = titles
t[t.title == "Treasure Island"].sort('year')

C:\Users\Michael Roy\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

                  title  year
136339  Treasure Island  1918
118475  Treasure Island  1920
128030  Treasure Island  1934
134003  Treasure Island  1950
60425   Treasure Island  1972
96798   Treasure Island  1973
55614   Treasure Island  1985
140961  Treasure Island  1999

In [11]:
# How many movies were made in the year 1950?
t = titles
len(t[t.year == 1950])

1100

In [12]:
# How many movies were made in the year 1960?
t = titles
len(t[t.year == 1960])

1501

In [13]:
# How many movies were made from 1950 through 1959?
t = titles
len(t[(t.year >= 1950) & (t.year < 1960)])

12699

In [14]:
len(t[t.year // 10 == 195])

12699

In [15]:
# In what years has a movie titled "Batman" been released?
t = titles
t[t.title == "Batman"].sort('year')

C:\Users\Michael Roy\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

         title  year
126774  Batman  1943
215784  Batman  1989

In [16]:
# How many roles were there in the movie "Inception"?
c = cast
len(c[c.title == "Inception"])

77

In [17]:
# How many roles in the movie "Inception" are NOT ranked by an "n" value?
c = cast
c = c[c.title == "Inception"]
c = c[c.n.notnull()]
len(c)

51

In [18]:
# How many roles in the movie "Inception" did receive an "n" value?
c = cast
c = c[c.title == "Inception"]
c = c[c.n.isnull()]
len(c)

26

In [19]:
# Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.
c = cast
c = c[c.title == "North by Northwest"]
c = c[c.n.notnull()]
c.sort('n')

C:\Users\Michael Roy\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,title,year,name,type,character,n
843654,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3374984,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1410272,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3036253,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
345068,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2934748,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1640907,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1234014,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2367341,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1753265,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
644603,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2220922,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
449694,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1460085,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
199337,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1340049,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

In [20]:
# Display the entire cast, in "n"-order, of the 1972 film "Sleuth".
c = cast
c = c[c.title == "Sleuth"]
c = c[c.year == 1972]
c.sort('n')

C:\Users\Michael Roy\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,title,year,name,type,character,n
1650752,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
315957,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
361808,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1418265,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2629821,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1402106,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

In [21]:
# Now display the entire cast, in "n"-order, of the 2007 version of Sleuth.
c = cast
c = c[c.title == "Sleuth"]
c = c[c.year == 2007]
c.sort('n')

C:\Users\Michael Roy\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

          title  year                 name     type          character    n
315958   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1251843  Sleuth  2007             Jude Law    actor               Milo  2.0
1747993  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
251326   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
361809   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2629820  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3236521  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

In [22]:
# How many roles were credited in the silent 1921 version of Hamlet?
c = cast
c = c[(c.title == "Hamlet") & (c.year == 1921)]
len(c)

9

In [23]:
# How many roles were credited in Branagh's 1996 Hamlet?
c = cast
c = c[(c.title == "Hamlet") & (c.year == 1996)]
len(c)

54

In [24]:
# How many "Hamlet" roles have been listed in all film credits through history?
c = cast
c = c[c.character == "Hamlet"]
len(c)

91

In [25]:
# How many people have played an "Ophelia"?
c = cast
c = c[c.character == "Ophelia"]
len(c)

111

In [26]:
# How many people have played a role called "The Dude"?
c = cast
c = c[c.character == "The Dude"]
len(c)

18

In [27]:
# How many people have played a role called "The Stranger"?
c = cast
c = c[c.character == "The Stranger"]
len(c)

210

In [28]:
# How many roles has Sidney Poitier played throughout his career?
c = cast
c = c[c.name == "Sidney Poitier"]
len(c)

43

In [29]:
# How many roles has Judi Dench played?
c = cast
c = c[c.name == "Judi Dench"]
len(c)

55

In [30]:
# List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.
c = cast
c = c[c.name == "Cary Grant"]
c = c[(c.year // 10 == 194) & (c.n ==2)]
c.sort('year')

C:\Users\Michael Roy\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

                   title  year        name   type    character    n
843651  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
843661    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [31]:
# List the leading roles that Cary Grant played in the 1940s in order by year.
c = cast
c = c[c.name == "Cary Grant"]
c = c[(c.year // 10 == 194) & (c.n ==1)]
c.sort('year')

C:\Users\Michael Roy\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,title,year,name,type,character,n
843677,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
843633,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
843679,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
843666,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
843681,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
843657,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
843624,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
843649,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
843650,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
843658,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
843616,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
843653,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
843652,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
843655,Notorious,1946,Cary Grant,actor,Devlin,1.0
843673,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
843674,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
843648,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
843628,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
843637,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

In [32]:
# How many roles were available for actors in the 1950s?
c = cast
c = c[(c.year >= 1950) & (c.year < 1960)]
c = c[c.type == 'actor']
len(c)

154960

In [33]:
# How many roles were available for actresses in the 1950s?
c = cast
c = c[(c.year >= 1950) & (c.year < 1960)]
c = c[c.type == 'actress']
len(c)

56370

In [34]:
# How many leading roles (n=1) were available from the beginning of film history through 1980?
c = cast
c = c[(c.n == 1) & (c.year <= 1980)]
len(c)

64031

In [35]:
# How many non-leading roles (n=1) were available from the beginning of film history through 1980?
c = cast
c = c[(c.n != 1) & (c.year <= 1980)]
len(c)

1096457

In [36]:
# How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?
c = cast
c = c[(c.n.isnull()) & (c.year <= 1980)]
len(c)

438790